// .photograph-header {
//     background-color: #FAFAFA;
//     height: 300px;
//     margin: 0 100px;
// }
.banner {
  width: 1240px;
  margin: auto;
  min-height: 313px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 43px 0 59px;
  border-radius: $main-radius;
  background-color: #fafafa;
  @include xLarge {
    width: 86vw;
    height:auto;
  }
  @include desktop992 {
    width: 89vw;
    padding: 20px;
  }
  @include tablette {
    width: 95vw;
    flex-direction: column;
    align-items:flex-start ;
  }
  @include mobile {
    width: 100vw;
    align-items:center ;
    margin: unset;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 28%;
    margin-top: -10px;
    @include tablette{
      order: 2;
      flex: 100%;
      margin:unset;
    }
    @include mobile {
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: $main-title-photographer;
    font-weight: 400;
    color: $color-secondary;
    margin: 0;
    @include mobile {
      font-size: 3rem;
      text-align: center;
    }
  }
  &__body {
    @include flexColumnCenter;
    align-items: flex-start;
    margin-top: 6px;
    @include mobile {
      align-items: center;
      text-align: center;
    }
  }
  &__location {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-primary;
  }
  &__tagline {
    margin-top: 22px;
    color: $color-tagline-photographer;
    font-size: 1.125rem;
  }
  &__button {
    display: flex;
    flex-direction: column;
    flex: 13%;
    margin-top: 32px;
    @include tablette{
      flex: 100%;
      order: 3;
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 15%;
    @include tablette{
      flex: 100%;
      order: 1;
      margin-bottom: 30px;
    }
    @include mobile{
      margin-bottom: unset;
    }
    & > img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      object-fit: cover;
      background: #c4c4c4;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      @include desktop992 {
        // width: 190px;
        // height: 190px;
      }
      @include tablette {
        width: 100px;
        height: 100px;
      }
      @include mobile {
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
}
