.photographer {
  &__header {
    display: flex;
  }
  &__section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 78px;
  }
  &__medias {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 1.82%;
    @include xLarge{
      margin: 25px 4%;
    }
    @include desktop992{
      margin: 25px 1.2%;
    }
    @include tablette {
      margin: 25px 17px;
    }
  }
  &__footer {
    position:fixed;
    right: 20px;
    bottom: -19px;
    @include mobile {
      right: 0px;
    }
  }
}
.container{
  &__sort{
    // margin-bottom:40px;
  }
  &__medias{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin-top:48px;
    @include xLarge {
      justify-content: center;
    }
    @include tablette {
      flex-direction: column;
      align-items: center;
    }
  }
  &__encart{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 376px;
    background:$color-bg-encart;
    padding: 23px 35px 19px 33px;
    border-radius: 5px;
    font-size:1.5rem;
    font-weight: 500;
  }
}