.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 100px;
  @include desktop992 {
    margin: 24px 50px;
  }
  @include tablette {
    flex-direction: column;
    margin: 24px 15px;
  }
  &--photographer {
    margin: 43px 100px 40px 100px;
    @include desktop992 {
      margin: 24px 50px;
    }
    @include tablette {
      margin: 24px 15px;
    }
  }
  &__link--home-page {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include tablette {
      justify-content: center;
    }
    &--photographer {
      flex: 100%;
    }
  }
  &__logo {
    width: 32%;
    height: auto;
    @include tablette {
      min-width: 124px;
    }
    &--photographer {
      width: 16.1%;
    }
  }
  &__heading {
    flex: 50%;
    color: $color-primary;
    font-weight: 400;
    font-size: $main-title;
    display: flex;
    justify-content: flex-end;
    /*margin-right: -1rem;*/
    @include tablette {
      margin-right: unset;
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }
  }
}
