.wrapper{
    display:flex;
    align-items: center;
    &__label{
        margin-right:21px;
        font-size:1.125rem;
        font-weight:700;
    }
    &__select{
        user-select: none;
        position: relative;
        &.active .wrapper__list{
            display:block;
        }
        // &.active .wrapper__icon{
        //     transform: rotate(-180deg);
        // }
    }
    &__icon{
        color:$color-white;
    }
    &__list{
        width: 170px;
        position: absolute;
        top: 0;
        left: 0;
        z-index:10;
        background: $color-primary;
        color: $color-white;
        border-radius: $main-radius;
        list-style: none;
        font-weight: 700;
        font-size: 1.125rem;
        letter-spacing: 0.1rem;
        box-shadow: 0px 4px 12px $color-bg-media-shadow;
        display: none;
        &::before{
            content:"";
            width:150px;
            height:1px;
            background-color: $color-white;
            position:absolute;
            top:68px;
            left:10px;
        }
        &::after{
            content:"";
            width:150px;
            height:1px;
            background-color: $color-white;
            position:absolute;
            top:137px;
            left:10px;
        }
    }
    &__option{
        height:69px;
        padding: 23px 20px;
        &:hover, &:active{
            background-color: $color-bg-encart;
            color: $color-black;
            & .wrapper__icon{
                color: $color-black;
            }
        }
        &:first-child:hover{
            border-top-left-radius: $main-radius;
            border-top-right-radius: $main-radius;
        }
        &:last-child:hover{
            border-bottom-left-radius: $main-radius;
            border-bottom-right-radius: $main-radius;
        }
        &--1{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


}
