.button {
    width: 170px;
    height: 69px;
    padding: 23px 7px;
    border: none;
    border-radius: $main-radius;
    font-weight: 700;
    font-size: 1.125rem;
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
    letter-spacing: 0.1rem;
    &:hover, &:active{
        background-color: $color-bg-encart;
        color: $color-black;
    }
    &__submit{
        font-size: 1rem;
        margin-top: 21px;
    }
    &__wrapper{
        padding: 23px 20px;
    }
}