.button {
    border: none;
    border-radius: $main-radius;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
    &__contact{
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    }
}