.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        // justify-content: space-between;
    width: 100%;
    max-width: 669px;
    margin: 5% auto;
    padding: 17.5px 35px 18px 35px;
    border-radius: $main-radius;
    background-color: #DB8876;
    box-shadow: 0px 4px 12px $color-bg-media-shadow;
        // animation-name: modalopen;
    // animation-duration: var(--modal-duration);
    // overflow: hidden;
    // position: relative;
    @include xLarge {
        margin: 5% auto;
    }
    &__validate{
        height:86.53vh;
        align-items: center;
        justify-content: space-between;
        padding: 22.5px 28px 28px 43px;
    }
    &__header {
        display:flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 25px;
        & > img {
            width: 44px;
            padding-left: 3px;
            align-self: baseline;
            cursor: $cursor-pointer;
            @include mobile {
                width: 30px;
            }
        }
    }
    &__title{
        margin:0;
        font-size: $main-title-photographer;
        font-weight: 400;
        &--validate{
            font-size: 3.5rem;
        }
        @include tablette {
            font-size:3rem;
        }
        @include mobile {
            font-size:2.25rem;
        }
    }
}