// .photograph-header {
//     background-color: #FAFAFA;
//     height: 300px;
//     margin: 0 100px;
// }
.banner {
  width: 86vw;
  margin: auto;
  height: 30.56vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 49px;
  border-radius: 5px;
  background-color: #fafafa;
  @include desktop {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:89vw;
    padding:unset;
  }
  @include tablette {
    width:95vw;
  }
  @include mobile {
    flex-wrap:unset;
    width:100vw;
    height: 45vh;
    margin:unset;
  }
  &__heading {
    @include flexColumnCenter;
    height: 15.33vh;
    align-items: flex-start;
    flex: 45%;
    margin-top: -10px;
    @include desktop {
        flex: 55%;
      margin-top: unset;
    }
    @include mobile {
        align-items: center;
    }
  }
  &__title {
    font-size: $main-title-photographer;
    font-weight: 400;
    color: $color-secondary;
    text-align: center;
    margin: 0;
    @include mobile {
        font-size: 3rem;
    }
  }
  &__body {
    @include flexColumnCenter;
    align-items: flex-start;
    margin-top: 6px;
    @include mobile {
        align-items: center;
        text-align:center;
    }
  }
  &__location {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-primary;
  }
  &__tagline {
    margin-top: 22px;
    color: $color-tagline-photographer;
    font-size: 1.125rem;
  }
  &__link-contact {
    @include flexColumnCenter;
    align-items: flex-start;
    flex: 42%;
    margin-top: 29px;
    @include desktop {
        flex: 21%;
        margin-top: unset;
      }
  }
  &__button {
    padding: 24px 11px;
    font-weight: 600;
    font-size: 1.125rem;
    background: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    @include mobile {
        font-size: 1rem;
        padding: 18px 11px;
    }
  }
  &__img {
    @include flexColumnCenter;
    flex: 15%;
    & > img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      object-fit: cover;
      background: #c4c4c4;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      @include mobile {
        width: 125px;
        height: 125px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
}
